* {
    font-family: 'Noto Sans', sans-serif;
    color: white;
}

a {
    text-decoration: none;
}

input {
    border-style: none;
}

input:not([type="submit"]), .tagit {
    background: #AAAAAA !important;
    border-radius: 4px;
}

input:focus:not(.ui-widget-content) {
    color: #000000;
    background-color: #EEEEEE !important;
}

.tagit-choice {
    background: #AAAAAA !important;
    border-width: 2px !important;
    border-color: #7F7F7F !important;
    font-weight: bold !important;
}

#master-selector-container {
    margin: 0px auto 6px auto;
    padding: 10px 0px 10px 0px;
    width: 740px;
    overflow: hidden;
    font-size: 28px;
}

html, body {
    height: 100%;
    width: 100%;
}

html, body, .submission-view-modal {
    background-color: #3a3a3a;
}

#master-selector-container input {
    position: relative;
    top: -8px;
    width: 220px;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin: 2px 8px 2px 8px;
    padding: 3.5px 3px;
}

#wrapper {
    margin: auto;
    width: 1200px;
}

.master-selector-segment {
    float: left;
}

#happenings-container {
    margin: auto;
    width: 850px;
}

#toolbar {
    overflow: hidden;
    margin: 0px 0px 10px 0px;
}

.submission-view-selector, .comparator-selector-segment, input[type="submit"] {
    cursor: pointer;
    border-radius: 5px;
    padding: 12px;
    background-color: #E20012;
    font-size: 20px;
}

#toolbar .submission-view-selector {
    margin: 12px 0px 12px 10px;
    float: right;
}


#master-comparator-selector-view {
    overflow: hidden;
    margin: 0px auto 30px auto;
    padding: 0px 0px 25px 0px;
    width: 310px;
    border-width: 0px 0px 2.5px 0px;
    border-style: solid;
}

.comparator-selector-label {
    padding: 9px 5px 9px 0px;
    margin: 6px 0px 0px 10px;
}

.comparator-selector-label, .comparator-selector-segment {
    float: left;
}

.comparator-selector-segment {
    cursor: pointer;
}

.comparator-selector-segment.comparator-selected {
    margin: 0px 8px;
    border-style: solid;
    border-width: 4px;
    border-color: white;
}

.comparator-selector-segment:not(.comparator-selected) {
    margin: 4px 12px;
}

.submission-view-modal {
    position: fixed;
    top: 100px;
    left: 425px;
    width: 600px;
    border-style: solid;
    border-width: 1.5px;
    border-radius: 1.5px;
    padding: 20px
}

.submission-view-modal input:not([type="submit"]) {
    padding: 3.5px 10px;
    width: 270px;
}

.submission-view-modal input[type="submit"] {
    display: block;
    margin: 8px auto 0px auto;
}

.submission-view-header, .submission-view-description {
    display: block;
    text-align: center;
}

.invisible {
    display: none;
    z-index: -5
}

.visible {
    display: inline;
    z-index: 5
}

#modal-underlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7
}

.happening-view {
    margin: 0px 0px 10px 0px;
    overflow: hidden;
}

.happening-name, .happening-city, .happening-distance {
    text-align: center;
    margin: 0px 0px 5px 0px;
    padding: 0px 0px 5px 0px;
}

.happening-city, .happening-distance {
    font-size: 15px;
}

.happening-name {
    font-weight: bold;
    font-size: 26px;
    width: 420px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.happening-date {
    width: 270px;
}

.happening-to {
    width: 25px;
    margin: 0px 8px 0px 8px;
}

.master-location-view, .master-date-and-edit-view {
    display: block;
    float: left;
}

.master-date-and-edit-view {
    position: relative;
}

.master-date-view, .master-date-and-edit-view .submission-view-selector {
    text-align: center;
    position: absolute;
}

.master-date-view {
    top: 7px;
    left: 7px;
    width: 350px;
}

.master-date-and-edit-view .submission-view-selector {
    width: 205px;
    left: 65px;
}

.ui-autocomplete {
    position: fixed;
}

.post-parameter-label {
    width: 310px;
    overflow: ellipsis;
    display: block;
    float: left;
}

.submission-view-input {
    margin: 8px 0px;
}

.submission-view-header {
    font-weight: bold;
    font-size: 26px;
    margin: 2px 0px 8px 0px;
}

.submission-view-description {
    margin: 14px 0px 22px 0px;
}
