* {
    font-family: helvetica;
}

#master-selector-container {
    margin: 0px auto 6px auto;
    padding: 10px 0px 10px 0px;
    width: 825px;
    overflow: hidden;
    font-size: 28px;
}

html, body {
    height: 100%;
    width: 100%
}

#master-selector-container input {
    position: relative;
    top: -6px;
    width: 220px;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin: 0px 8px 0px 8px;
    padding: 2px 3px;
}

input:focus {
    background-color: #DDDDDD;
}

#wrapper {
    margin: auto;
    width: 1200px;
}

.master-selector-segment {
    float: left;
}

#happenings-container {
    margin: auto;
    width: 850px;
}

#toolbar {
    overflow: hidden;
}

.submission-view-selector {
    cursor: pointer;
    border-style: solid;
    border-width: 1.5px;
    border-radius: 7px;
    padding: 7px;
}

#toolbar .submission-view-selector {
    margin: 12px 0px 12px 10px;
    float: right;
}


#master-comparator-selector-view {
    overflow: hidden;
    margin: 0px auto 20px auto;
    padding: 0px 0px 10px 0px;
    width: 280px;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
}

.comparator-selector-label, .comparator-selector-segment {
    cursor: pointer;
    margin: 0px 0px 12px 10px;
    float: left;
    padding: 7px;
}

.comparator-selector-segment {
    border-style: solid;
    border-width: 1.5px;
    border-radius: 7px;
}

.submission-view-modal {
    position: absolute;
    top: 100px;
    left: 250px;
    width: 850px;
    background: white;
    border-style: solid;
    border-width: 1.5px;
    border-radius: 1.5px;
    padding: 10px
}

.submission-view-header, .submission-view-description {
    display: block;
    text-align: center;
}

.invisible {
    display: none;
    z-index: -5
}

.visible {
    display: inline;
    z-index: 5
}

#modal-underlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .4
}

.happening-view {
    margin: 0px 0px 10px 0px;
    overflow: hidden;
}

.happening-name, .happening-city, .happening-distance {
    text-align: center;
    margin: 0px 0px 5px 0px;
    padding: 0px 0px 5px 0px;
}

.happening-city, .happening-distance {
    font-size: 15px;
}

.happening-name {
    font-weight: bold;
    font-size: 26px;
    width: 420px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.happening-date {
    width: 250px;
}

.happening-to {
    width: 25px;
    margin: 0px 15px 0px 15px;
}

.master-location-view, .master-date-and-edit-view {
    display: block;
    float: left;
}

.master-date-and-edit-view {
    position: relative;
}

.master-date-view, .master-date-and-edit-view .submission-view-selector {
    position: absolute;
}

.master-date-view {
    top: 7px;
    left: 7px;
    width: 300px;
}

.master-date-and-edit-view .submission-view-selector {
    width: 140px;
    left: 65px;
}
